
<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Add User</title>

    <!-- Custom fonts for this template -->
    <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">
    <!--    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">-->

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul layout:replace="layout/sidebar :: sidebar" class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav layout:replace="layout/navbar :: navbar" class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <h1 class="h3 mb-2 text-gray-800">Add User</h1>

                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <form method="post" th:action="@{/saveUser}" th:object="${user}">
                            <div class="mb-3">
                                <label for="name" class="form-label">Name</label>
                                <input type="text" class="form-control" name="name" id="name" th:field="${user.name}">
                                <span style="color: red;" id="name_error"></span>
                            </div>
                            <!--                        <div class="mb-3">-->
                            <!--                            <label for="formFile" class="form-label">Image</label>-->
                            <!--                            <input class="form-control" type="file" id="formFile">-->
                            <!--                        </div>-->
                            <div class="mb-3">
                                <label for="password" class="form-label">Password</label>
                                <input type="password" class="form-control" name="password" value="" id="password">
                                <span style="color: red;" id="password_error"></span>
                            </div>
                            <div class="mb-3">
                                <label for="phone" class="form-label">Phone</label>
                                <input type="text" class="form-control" name="phone" value="" id="phone">
                                <span style="color: red;" id="phone_error"></span>
                            </div>
                            <div class="mb-3">
                                <label for="age" class="form-label">Age</label>
                                <input type="text" class="form-control" name="age" value="" id="age">
                                <span style="color: red;" id="age_error"></span>
                            </div>
                            <button type="submit" onclick="return validate()" id="btn" class="btn btn-primary">Add User</button>
                            <a href="/ListUser" class="btn btn-primary">Cancel</a>
                        </form>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer layout:replace="layout/footer :: footer" class="sticky-footer bg-white">
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Bootstrap core JavaScript-->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{/js/sb-admin-2.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/jquery.min.js}"></script>


<script type="text/javascript">
    //lấy giá trị của một input
    function getValue(id){
        return document.getElementById(id).value.trim();
    }

    //hiển thị lỗi
    function showError(key, mess){
        document.getElementById(key + '_error').innerHTML = mess;
    }

    function validate(){
        var flag  = true;
        var name = getValue('name');
        if(name == ""){
            flag = false;
            showError('name', 'This field is required to enter');
        }

        var password = getValue('password');
        if(password == ""){
            flag = false;
            showError('password', 'This field is required to enter');
        }

        var phone = getValue('phone');
        if(phone == ""){
            flag = false;
            showError('phone', 'This field is required to enter');
        }

        var age = getValue('age');
        if(age == ""){
            flag = false;
            showError('age', 'This field is required to enter');
        }
        return flag;
    }
</script>

</body>

</html>